/* ==========================================================================
    COLORS
/* ========================================================================== */

$bluegrey : #607D8B;
$efrei : rgba(22, 156, 135, 1);

$maingrey: #373e4c;
$back : #eeeeee;

$highlight: #FAB81E;

$red: #e10f21;

/* Fap Cloud Official Color Palette */


/* The Martian UI Colors*/
$martian-orange: #e7921e;
$martian-grey: rgba(54, 54, 54, 1);
$martian-lightgrey: #636466;

$martian-blue: #0a202b;
$martian-lighblue: #2ee0e2;


/* Famous brand colors */
$netflix: #e50914;
$happn: #0087b4;


